.mono/
alfred/Alfred.alfredpreferences/workflows/*
alfred/Alfred.alfredpreferences/themes/*
alfred/Alfred.alfredpreferences/remote/*
configstore/
fontforge/
gcloud/
inkscape/
xnconvert/
psysh/
yarn/
sublime/*
!sublime/User/
sublime/User/Package\ Control.cache/
sublime/User/Package\ Control.last-run
!sublime/Preferences.sublime-settings
!sublime/Package\ Control.sublime-settings
valet/config.json
valet/valet.sock
valet/CA/*
valet/Certificates/*
valet/Log/*
valet/Sites/*
system/secrets
