[client]
port        = 3306
socket      = /tmp/mysql.sock

[mysqld]
#
# * Basic Settings
#
socket      = /tmp/mysql.sock
port        = 3306
default_time_zone    = "+00:00"
explicit_defaults_for_timestamp = true
innodb_buffer_pool_size=2G
wait_timeout = 600
max_allowed_packet = 1G
skip-log-bin

[mysqldump]
socket = /tmp/mysql.sock
port = 3306
